<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	<h1>Delete task</h1>

    <form method="POST" action="delete_task">

	    {% csrf_token %}
        <select name="delet">
            <option>----</option>
		{% for n in data %}
			<option>{{n}}</option>
			{% endfor %}
        </select>
		<input type="submit" value="delete this task">

    </form>

	<form action="/home">
		<br><br>
		
		<input type="submit" value="Go to the main page">
	</form>


</body>
</html>